.version.datafest_germany_eng /* version checker */
{
	color: #0000F1;
	background-color: #92FADE;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 4924.999999999989px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-bottom: -323px;
	width: 0.01px;
}

#u1030,#u1030-bw
{
	z-index: 3;
	height: 580px;
}

#u1020
{
	z-index: 4;
	min-height: 497px;
	padding-bottom: 31px;
}

#u1020_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#datafestgermany
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 479px;
	left: 580px;
}

#u1016
{
	z-index: 227;
	width: 56px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 970px;
}

#pu1008
{
	z-index: 228;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
}

#u1009-4
{
	z-index: 229;
	width: 22px;
	min-height: 13px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
}

#u1020-bw
{
	z-index: 4;
	min-height: 497px;
	margin-top: 52px;
}

#u1022-4
{
	z-index: 5;
	width: 249px;
	min-height: 75px;
	margin-right: -10000px;
	margin-top: 184px;
	left: 76px;
}

#u1027-9
{
	z-index: 9;
	width: 249px;
	min-height: 136px;
	margin-right: -10000px;
	margin-top: 216px;
	left: 799px;
}

#u1034
{
	z-index: 18;
	width: 472px;
	height: 314px;
	margin-right: -10000px;
	margin-top: 168px;
	left: 266px;
}

#pu880
{
	width: 0.01px;
	padding-bottom: 50px;
	margin-left: -100px;
	margin-top: -49px;
}

#u880
{
	z-index: 283;
	height: 50px;
	background-color: #303030;
	background-color: rgba(0,0,0,0.81);
	-pie-background: rgba(0,0,0,0.81);
}

#u880-bw
{
	z-index: 283;
	position: fixed;
	left: 0px;
	right: 0px;
	top: 531px;
}

#u881
{
	z-index: 284;
	width: 72px;
	height: 49px;
	position: fixed;
	top: 531px;
	left: 20px;
	background: transparent url("../images/logo-u368-fr.png") no-repeat left top;
	background-size: contain;
}

#menuu882
{
	z-index: 285;
	width: 595px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 531px;
	left: 250px;
}

#u904
{
	width: 145px;
	min-height: 49px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u905
{
	width: 145px;
	background-color: transparent;
	padding-bottom: 32px;
	position: relative;
}

#u905.MuseMenuActive
{
	width: 145px;
	min-height: 0px;
	margin: 0px;
}

#u906-4
{
	width: 126px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #998675;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	top: 16px;
	left: 9px;
}

#u905:hover #u906-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 126px;
	margin: 0px -10000px 0px 0px;
}

#u905.MuseMenuActive #u906-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 126px;
	margin: 0px -10000px 0px 0px;
}

#u905:hover #u906-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u897
{
	width: 124px;
	min-height: 49px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 147px;
}

#u898
{
	width: 124px;
	background-color: transparent;
	padding-bottom: 32px;
	position: relative;
}

#u898.MuseMenuActive
{
	width: 124px;
	min-height: 0px;
	margin: 0px;
}

#u901-4
{
	width: 106px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #998675;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	top: 16px;
	left: 9px;
}

#u898:hover #u901-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 106px;
	margin: 0px -10000px 0px 0px;
}

#u898.MuseMenuActive #u901-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 106px;
	margin: 0px -10000px 0px 0px;
}

#u905.MuseMenuActive #u906-4 p,#u898:hover #u901-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u918
{
	width: 57px;
	min-height: 49px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 273px;
}

#u921
{
	width: 57px;
	background-color: transparent;
	padding-bottom: 32px;
	position: relative;
}

#u921.MuseMenuActive
{
	width: 57px;
	min-height: 0px;
	margin: 0px;
}

#u924-4
{
	width: 39px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #998675;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	top: 16px;
	left: 9px;
}

#u921:hover #u924-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 39px;
	margin: 0px -10000px 0px 0px;
}

#u921.MuseMenuActive #u924-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 39px;
	margin: 0px -10000px 0px 0px;
}

#u898.MuseMenuActive #u901-4 p,#u921:hover #u924-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u883
{
	width: 93px;
	min-height: 49px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 332px;
}

#u884
{
	width: 93px;
	background-color: transparent;
	padding-bottom: 32px;
	position: relative;
}

#u884.MuseMenuActive
{
	width: 93px;
	min-height: 0px;
	margin: 0px;
}

#u887-4
{
	width: 75px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #998675;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	top: 16px;
	left: 9px;
}

#u884:hover #u887-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 75px;
	margin: 0px -10000px 0px 0px;
}

#u884.MuseMenuActive #u887-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 75px;
	margin: 0px -10000px 0px 0px;
}

#u921.MuseMenuActive #u924-4 p,#u884:hover #u887-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u911
{
	width: 100px;
	min-height: 49px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 427px;
}

#u912
{
	width: 100px;
	background-color: transparent;
	padding-bottom: 32px;
	position: relative;
}

#u912.MuseMenuActive
{
	width: 100px;
	min-height: 0px;
	margin: 0px;
}

#u915-4
{
	width: 82px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #998675;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	top: 16px;
	left: 9px;
}

#u912:hover #u915-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 82px;
	margin: 0px -10000px 0px 0px;
}

#u912.MuseMenuActive #u915-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 82px;
	margin: 0px -10000px 0px 0px;
}

#u884.MuseMenuActive #u887-4 p,#u912:hover #u915-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u890
{
	width: 66px;
	min-height: 49px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 529px;
}

#u891
{
	width: 66px;
	background-color: transparent;
	padding-bottom: 32px;
	position: relative;
}

#u891.MuseMenuActive
{
	width: 66px;
	min-height: 0px;
	margin: 0px;
}

#u894-4
{
	width: 48px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #998675;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	top: 16px;
	left: 9px;
}

#u891:hover #u894-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 48px;
	margin: 0px -10000px 0px 0px;
}

#u891.MuseMenuActive #u894-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 48px;
	margin: 0px -10000px 0px 0px;
}

#u912.MuseMenuActive #u915-4 p,#u891:hover #u894-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u891.MuseMenuActive #u894-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u1039
{
	z-index: 322;
	width: 56px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 543px;
	left: 870px;
}

#pu1040
{
	z-index: 323;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
}

#u1008,#u1040
{
	z-index: 0;
	width: 56px;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	border-radius: 10px;
	position: absolute;
	top: 0px;
	bottom: 0px;
	background: transparent url("../images/german%20flag.jpg") no-repeat center center;
	background-size: cover;
}

#u1040:hover
{
	background-repeat: no-repeat;
	background-position: center center;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	width: 56px;
	min-height: 0px;
	margin: 0px;
	background-size: cover;
}

#pu1009-4,#pu1041-4
{
	width: 0.01px;
	position: relative;
	left: 17px;
	padding-top: 5px;
	z-index: 2;
	padding-bottom: 5px;
}

#u1041-4
{
	z-index: 324;
	width: 22px;
	min-height: 13px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
}

#u928
{
	z-index: 78;
	min-height: 320px;
	background-color: #2E2E2E;
	padding-bottom: 74px;
}

#u928_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
	left: -100px;
	margin-bottom: -1px;
}

#u929-40
{
	z-index: 83;
	width: 795px;
	min-height: 247px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: justify;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 73px;
	left: 183px;
}

#u929-4,#u929-7,#u929-24,#u929-27,#u929-29,#u929-32,#u929-34
{
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u928-bw
{
	z-index: 78;
	min-height: 320px;
	margin-top: -1px;
}

#u972
{
	z-index: 77;
	min-height: 295px;
	padding-bottom: 77px;
	background: transparent url("../images/bild2.jpg") no-repeat center top;
	background-size: cover;
}

#aufgabe
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 277px;
	left: 569px;
}

#u972-bw
{
	z-index: 77;
	min-height: 295px;
}

#u986
{
	z-index: 80;
	min-height: 272px;
	background-color: #2E2E2E;
	padding-bottom: 34px;
}

#u974-20
{
	z-index: 123;
	width: 795px;
	min-height: 239px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: justify;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 33px;
	left: 183px;
}

#u986-bw
{
	z-index: 80;
	min-height: 272px;
}

#u975
{
	z-index: 76;
	min-height: 313px;
	padding-bottom: 59px;
	background: transparent url("../images/bild3.jpg") no-repeat center top;
	background-size: cover;
}

#anreise
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 295px;
	left: 596px;
}

#u975-bw
{
	z-index: 76;
	min-height: 313px;
}

#pu927
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: -2px;
}

#u927
{
	z-index: 75;
	min-height: 327px;
	padding-bottom: 69px;
	background: transparent url("../images/bild4.jpg") no-repeat center center;
	background-size: cover;
}

#sponsoring
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 309px;
	left: 569px;
}

#u927-bw
{
	z-index: 75;
	min-height: 327px;
	margin-top: 354px;
}

#u926
{
	z-index: 81;
	min-height: 298px;
	background-color: #2E2E2E;
	padding-bottom: 65px;
}

#u984-19
{
	z-index: 189;
	width: 534px;
	min-height: 240px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 58px;
	left: 180px;
}

#u980
{
	z-index: 213;
	width: 295px;
	min-height: 240px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 58px;
	left: 729px;
}

#u926-bw
{
	z-index: 81;
	min-height: 298px;
}

#pu1030,#pu970
{
	width: 0.01px;
	margin-left: -100px;
}

#u970
{
	z-index: 79;
	min-height: 712px;
	background-color: #2E2E2E;
	padding-bottom: 46px;
}

#u1143-15
{
	z-index: 265;
	width: 796px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 644px;
	left: 182px;
}

#u970-bw
{
	z-index: 79;
	min-height: 712px;
	margin-top: 1395px;
}

#u979
{
	z-index: 82;
	min-height: 599px;
	background-color: #2E2E2E;
	padding-bottom: 571px;
}

#u969-46
{
	z-index: 143;
	width: 795px;
	min-height: 526px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: justify;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 73px;
	left: 204px;
}

#u979-bw
{
	z-index: 82;
	min-height: 599px;
	margin-top: 782px;
}

#teilnahme
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 733px;
	left: 569px;
}

#galerie
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 1367px;
	left: 569px;
}

#u983
{
	z-index: 214;
	min-height: 170px;
	background-color: #2E2E2E;
	padding-bottom: 222px;
}

#u972_align_to_page,#u986_align_to_page,#u975_align_to_page,#u927_align_to_page,#u926_align_to_page,#u970_align_to_page,#u979_align_to_page,#u983_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
	left: -100px;
}

#u971-10
{
	z-index: 215;
	width: 795px;
	min-height: 145px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 25px;
	left: 182px;
}

#u929-2,#u929-3,#u974-2,#u984-2,#u1143-2,#u1143-3,#u969-2,#u971-2
{
	font-style: italic;
}

#u983-bw
{
	z-index: 214;
	min-height: 170px;
}

#u968
{
	z-index: 225;
	height: 372px;
	background: transparent url("../images/2828246011_5f55a6a06f_z.jpg") no-repeat left top;
	background-size: cover;
}

#u968-bw
{
	z-index: 225;
	margin-top: 430px;
	height: 372px;
}

#pamphletu1096
{
	z-index: 233;
	width: 0.01px;
	height: 530px;
	padding-bottom: 33px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1434px;
}

#u1116
{
	position: absolute;
	width: 1161px;
	background-color: transparent;
}

#u1116popup
{
	z-index: 234;
}

#u1124
{
	z-index: 235;
	width: 1159px;
	height: 562px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	margin-right: -10000px;
	position: relative;
	background: #FFFFFF url("../images/1.jpg") no-repeat left top;
	background-size: cover;
}

#u1127
{
	z-index: 236;
	width: 1159px;
	height: 562px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	margin-right: -10000px;
	position: relative;
	background: #FFFFFF url("../images/2.jpg") no-repeat center center;
	background-size: cover;
}

#u1125
{
	z-index: 237;
	width: 1159px;
	height: 562px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	margin-right: -10000px;
	position: relative;
	background: #FFFFFF url("../images/3.jpg") no-repeat center center;
	background-size: cover;
}

#u1128
{
	z-index: 238;
	width: 1159px;
	height: 562px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	margin-right: -10000px;
	position: relative;
	background: #FFFFFF url("../images/4.jpg") no-repeat center center;
	background-size: cover;
}

#u1119
{
	z-index: 239;
	width: 1159px;
	height: 562px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	margin-right: -10000px;
	position: relative;
	background: #FFFFFF url("../images/5.jpg") no-repeat center center;
	background-size: cover;
}

#u1117
{
	z-index: 240;
	width: 1159px;
	height: 562px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	margin-right: -10000px;
	position: relative;
	background: #FFFFFF url("../images/6.jpg") no-repeat center center;
	background-size: cover;
}

#impressum
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 509px;
	left: 558px;
}

#u1123
{
	z-index: 242;
	width: 1159px;
	height: 562px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	margin-right: -10000px;
	position: relative;
	background: #FFFFFF url("../images/7.jpg") no-repeat center center;
	background-size: cover;
}

#u1126
{
	z-index: 243;
	width: 1159px;
	height: 562px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	margin-right: -10000px;
	position: relative;
	background: #FFFFFF url("../images/8.jpg") no-repeat center center;
	background-size: cover;
}

#u1120
{
	z-index: 244;
	width: 1159px;
	height: 562px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	margin-right: -10000px;
	position: relative;
	background: #FFFFFF url("../images/9.jpg") no-repeat center center;
	background-size: cover;
}

#u1130
{
	z-index: 245;
	width: 1159px;
	height: 562px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	margin-right: -10000px;
	position: relative;
	background: #FFFFFF url("../images/10.jpg") no-repeat center center;
	background-size: cover;
}

#u1121
{
	z-index: 246;
	width: 1159px;
	height: 562px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	margin-right: -10000px;
	position: relative;
	background: #FFFFFF url("../images/12.jpg") no-repeat center top;
	background-size: cover;
}

#u1129
{
	z-index: 247;
	width: 1159px;
	height: 562px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	margin-right: -10000px;
	position: relative;
	background: #FFFFFF url("../images/13.jpg") no-repeat center center;
	background-size: cover;
}

#u1122
{
	z-index: 248;
	width: 1159px;
	height: 562px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	margin-right: -10000px;
	position: relative;
	background: #FFFFFF url("../images/14.jpg") no-repeat center top;
	background-size: cover;
}

#u1131
{
	z-index: 249;
	width: 1159px;
	height: 562px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	margin-right: -10000px;
	position: relative;
	background: #FFFFFF url("../images/15.jpg") no-repeat center center;
	background-size: cover;
}

#u1097
{
	z-index: 250;
	width: 345px;
	position: relative;
	margin-right: -10000px;
	margin-top: 514px;
	left: 569px;
}

#u1099
{
	position: absolute;
	width: 16px;
	height: 15px;
	border-style: none;
	border-color: transparent;
	background-color: #C4C4C4;
	border-radius: 10px;
}

#u1099:hover
{
	border-style: none;
	border-color: transparent;
	background-color: #999999;
	border-radius: 10px;
	width: 16px;
	height: 15px;
	min-height: 0px;
	margin: 0px;
}

#u1099.PamphletThumbSelected
{
	background-color: #6B6B6B;
	border-radius: 0px;
	width: 16px;
	height: 15px;
	min-height: 0px;
	margin: 0px;
}

#u1109
{
	position: absolute;
	width: 16px;
	height: 15px;
	border-style: none;
	border-color: transparent;
	background-color: #C4C4C4;
	border-radius: 10px;
	left: 21px;
}

#u1109:hover
{
	background-color: #999999;
	border-radius: 10px;
	width: 16px;
	height: 15px;
	min-height: 0px;
	margin: 0px;
}

#u1109.PamphletThumbSelected
{
	border-style: none;
	border-color: transparent;
	background-color: #6B6B6B;
	border-radius: 0px;
	width: 16px;
	height: 15px;
	min-height: 0px;
	margin: 0px;
}

#u1108
{
	position: absolute;
	width: 16px;
	height: 14px;
	background-color: #C4C4C4;
	border-radius: 10px;
	top: 2px;
	left: 43px;
}

#u1108:hover
{
	border-color: #000000;
	background-color: #999999;
	border-radius: 10px;
	width: 16px;
	height: 14px;
	min-height: 0px;
	margin: 0px;
}

#u1105
{
	position: absolute;
	width: 16px;
	height: 14px;
	background-color: #C4C4C4;
	border-radius: 10px;
	top: 2px;
	left: 69px;
}

#u1105:hover
{
	border-color: #000000;
	background-color: #999999;
	border-radius: 10px;
	width: 16px;
	height: 14px;
	min-height: 0px;
	margin: 0px;
}

#u1102
{
	position: absolute;
	width: 16px;
	height: 14px;
	background-color: #C4C4C4;
	border-radius: 10px;
	top: 2px;
	left: 95px;
}

#u1102:hover
{
	border-color: #000000;
	background-color: #999999;
	border-radius: 10px;
	width: 16px;
	height: 14px;
	min-height: 0px;
	margin: 0px;
}

#u1103
{
	position: absolute;
	width: 16px;
	height: 14px;
	background-color: #C4C4C4;
	border-radius: 10px;
	top: 2px;
	left: 121px;
}

#u1103:hover
{
	border-color: #000000;
	background-color: #999999;
	border-radius: 10px;
	width: 16px;
	height: 14px;
	min-height: 0px;
	margin: 0px;
}

#u1106
{
	position: absolute;
	width: 16px;
	height: 14px;
	background-color: #C4C4C4;
	border-radius: 10px;
	top: 2px;
	left: 147px;
}

#u1106:hover
{
	border-color: #000000;
	background-color: #999999;
	border-radius: 10px;
	width: 16px;
	height: 14px;
	min-height: 0px;
	margin: 0px;
}

#u1110
{
	position: absolute;
	width: 16px;
	height: 14px;
	background-color: #C4C4C4;
	border-radius: 10px;
	top: 2px;
	left: 173px;
}

#u1110:hover
{
	border-color: #000000;
	background-color: #999999;
	border-radius: 10px;
	width: 16px;
	height: 14px;
	min-height: 0px;
	margin: 0px;
}

#u1100
{
	position: absolute;
	width: 16px;
	height: 14px;
	background-color: #C4C4C4;
	border-radius: 10px;
	top: 2px;
	left: 199px;
}

#u1100:hover
{
	border-color: #000000;
	background-color: #999999;
	border-radius: 10px;
	width: 16px;
	height: 14px;
	min-height: 0px;
	margin: 0px;
}

#u1104
{
	position: absolute;
	width: 16px;
	height: 14px;
	background-color: #C4C4C4;
	border-radius: 10px;
	top: 2px;
	left: 225px;
}

#u1104:hover
{
	border-color: #000000;
	background-color: #999999;
	border-radius: 10px;
	width: 16px;
	height: 14px;
	min-height: 0px;
	margin: 0px;
}

#u1107
{
	position: absolute;
	width: 16px;
	height: 14px;
	background-color: #C4C4C4;
	border-radius: 10px;
	top: 2px;
	left: 251px;
}

#u1107:hover
{
	border-color: #000000;
	background-color: #999999;
	border-radius: 10px;
	width: 16px;
	height: 14px;
	min-height: 0px;
	margin: 0px;
}

#u1111
{
	position: absolute;
	width: 16px;
	height: 14px;
	background-color: #C4C4C4;
	border-radius: 10px;
	top: 2px;
	left: 277px;
}

#u1111:hover
{
	border-color: #000000;
	background-color: #999999;
	border-radius: 10px;
	width: 16px;
	height: 14px;
	min-height: 0px;
	margin: 0px;
}

#u1101
{
	position: absolute;
	width: 16px;
	height: 14px;
	background-color: #C4C4C4;
	border-radius: 10px;
	top: 2px;
	left: 303px;
}

#u1101:hover
{
	border-color: #000000;
	background-color: #999999;
	border-radius: 10px;
	width: 16px;
	height: 14px;
	min-height: 0px;
	margin: 0px;
}

#u1098
{
	position: absolute;
	width: 16px;
	height: 14px;
	background-color: #C4C4C4;
	border-radius: 10px;
	top: 2px;
	left: 329px;
}

#u1098:hover
{
	border-color: #000000;
	background-color: #999999;
	border-radius: 10px;
	width: 16px;
	height: 14px;
	min-height: 0px;
	margin: 0px;
}

#u1108.PamphletThumbSelected,#u1105.PamphletThumbSelected,#u1102.PamphletThumbSelected,#u1103.PamphletThumbSelected,#u1106.PamphletThumbSelected,#u1110.PamphletThumbSelected,#u1100.PamphletThumbSelected,#u1104.PamphletThumbSelected,#u1107.PamphletThumbSelected,#u1111.PamphletThumbSelected,#u1101.PamphletThumbSelected,#u1098.PamphletThumbSelected
{
	border-style: none;
	border-color: transparent;
	background-color: #6B6B6B;
	border-radius: 0px;
	width: 16px;
	height: 14px;
	min-height: 0px;
	margin: 0px;
}

.MenuItem,.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* unifiedNavBar */
{
	cursor: pointer;
}

#u1151-3
{
	z-index: 280;
	min-height: 247px;
	color: #FFFFFF;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	background: transparent url("../images/tableau_cmyk.jpg") no-repeat center top;
	background-size: contain;
}

#u1151-3-bw
{
	z-index: 280;
	min-height: 247px;
	margin-top: 196px;
}

#u1031_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
	padding-top: 30px;
}

#u1024-4
{
	z-index: 67;
	width: 306px;
	min-height: 21px;
	left: 120px;
}

#pu1026
{
	width: 0.01px;
	left: 170px;
	margin-top: 9px;
	position: relative;
}

#u1026
{
	z-index: 71;
	width: 82px;
	height: 81px;
	margin-right: -10000px;
}

#u1033
{
	z-index: 72;
	width: 175px;
	height: 81px;
	margin-right: -10000px;
	left: 117px;
}

#u1028
{
	z-index: 73;
	width: 302px;
	height: 81px;
	margin-right: -10000px;
	left: 330px;
}

#u1032
{
	z-index: 74;
	width: 144px;
	height: 81px;
	margin-right: -10000px;
	left: 670px;
}

#pu1021-23
{
	width: 0.01px;
	left: 120px;
	margin-top: 9px;
	position: relative;
}

#u1021-23
{
	z-index: 27;
	width: 283px;
	min-height: 139px;
	margin-right: -10000px;
}

#u1023-17
{
	z-index: 50;
	width: 626px;
	min-height: 139px;
	margin-right: -10000px;
	left: 294px;
}

#pu1029-4
{
	width: 0.01px;
	left: 120px;
	margin-top: 13px;
	position: relative;
}

#u1029-4
{
	z-index: 19;
	width: 283px;
	min-height: 21px;
	margin-right: -10000px;
}

#u1025-4
{
	z-index: 23;
	width: 283px;
	min-height: 21px;
	margin-right: -10000px;
	left: 637px;
}

#u1031,#u1031-bw
{
	z-index: 2;
	min-height: 323px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-bottom: 322px;
}

#page .verticalspacer
{
	clear: both;
}

