.version.datafest_germany_weiteres /* version checker */
{
	color: #0000F9;
	background-color: #73135C;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 673px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-bottom: -323px;
	width: 0.01px;
}

#u806
{
	z-index: 89;
	height: 50px;
	background-color: #303030;
	background-color: rgba(0,0,0,0.81);
	-pie-background: rgba(0,0,0,0.81);
}

#u806-bw
{
	z-index: 89;
	position: fixed;
	left: 0px;
	right: 0px;
	top: 0px;
}

#u804
{
	z-index: 59;
	min-height: 462px;
	background-color: #2E2E2E;
	padding-bottom: 301px;
}

#u804_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
	left: -100px;
}

#u805-29
{
	z-index: 60;
	width: 795px;
	min-height: 150px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: justify;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 105px;
	left: 183px;
}

#u805-2,#u805-3,#u805-5,#u805-6,#u805-8,#u805-9,#u805-11
{
	font-style: italic;
}

#u805-12,#u805-15,#u805-17,#u805-19,#u805-22,#u805-24,#u805-26
{
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u804-bw
{
	z-index: 59;
	min-height: 462px;
}

#pu807
{
	width: 0.01px;
	padding-bottom: 49px;
	margin-left: 22px;
	margin-top: -763px;
}

#u807
{
	z-index: 90;
	width: 72px;
	height: 49px;
	position: fixed;
	top: 0px;
	left: 22px;
	background: transparent url("../images/logo-u368-fr.png") no-repeat left top;
	background-size: contain;
}

#menuu808
{
	z-index: 91;
	width: 508px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 0px;
	left: 434px;
}

#u830
{
	width: 145px;
	min-height: 49px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u831
{
	width: 145px;
	background-color: transparent;
	padding-bottom: 32px;
	position: relative;
}

#u834-4
{
	width: 126px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #998675;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	top: 16px;
	left: 9px;
}

#u831:hover #u834-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 126px;
	margin: 0px -10000px 0px 0px;
}

#u831.MuseMenuActive #u834-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 126px;
	margin: 0px -10000px 0px 0px;
}

#u831:hover #u834-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u816
{
	width: 133px;
	min-height: 49px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 147px;
}

#u817
{
	width: 133px;
	background-color: transparent;
	padding-bottom: 32px;
	position: relative;
}

#u817.MuseMenuActive
{
	width: 133px;
	min-height: 0px;
	margin: 0px;
}

#u818-4
{
	width: 115px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #998675;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	top: 16px;
	left: 9px;
}

#u817:hover #u818-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 115px;
	margin: 0px -10000px 0px 0px;
}

#u817.MuseMenuActive #u818-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 115px;
	margin: 0px -10000px 0px 0px;
}

#u831.MuseMenuActive #u834-4 p,#u817:hover #u818-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u823
{
	width: 69px;
	min-height: 49px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 282px;
}

#u824
{
	width: 69px;
	background-color: transparent;
	padding-bottom: 32px;
	position: relative;
}

#u824.MuseMenuActive
{
	width: 69px;
	min-height: 0px;
	margin: 0px;
}

#u825-4
{
	width: 51px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #998675;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	top: 16px;
	left: 9px;
}

#u824:hover #u825-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 51px;
	margin: 0px -10000px 0px 0px;
}

#u824.MuseMenuActive #u825-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 51px;
	margin: 0px -10000px 0px 0px;
}

#u817.MuseMenuActive #u818-4 p,#u824:hover #u825-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u809
{
	width: 86px;
	min-height: 49px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 353px;
}

#u810
{
	width: 86px;
	background-color: transparent;
	padding-bottom: 32px;
	position: relative;
}

#u810.MuseMenuActive
{
	width: 86px;
	min-height: 0px;
	margin: 0px;
}

#u811-4
{
	width: 68px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #998675;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	top: 16px;
	left: 9px;
}

#u810:hover #u811-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 68px;
	margin: 0px -10000px 0px 0px;
}

#u810.MuseMenuActive #u811-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 68px;
	margin: 0px -10000px 0px 0px;
}

#u824.MuseMenuActive #u825-4 p,#u810:hover #u811-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u837
{
	width: 67px;
	min-height: 49px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 441px;
}

#u838
{
	width: 67px;
	background-color: transparent;
	padding-bottom: 32px;
	position: relative;
}

#u838.MuseMenuActive
{
	width: 67px;
	min-height: 0px;
	margin: 0px;
}

#u841-4
{
	width: 49px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #998675;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	top: 16px;
	left: 9px;
}

#u838:hover #u841-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 49px;
	margin: 0px -10000px 0px 0px;
}

#u838.MuseMenuActive #u841-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 49px;
	margin: 0px -10000px 0px 0px;
}

#u810.MuseMenuActive #u811-4 p,#u838:hover #u841-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u838.MuseMenuActive #u841-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u742_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
	padding-top: 30px;
}

#u746-4
{
	z-index: 51;
	width: 306px;
	min-height: 21px;
	left: 120px;
}

#pu755
{
	width: 0.01px;
	left: 170px;
	margin-top: 9px;
	position: relative;
}

#u755
{
	z-index: 55;
	width: 82px;
	height: 81px;
	margin-right: -10000px;
}

#u743
{
	z-index: 56;
	width: 175px;
	height: 81px;
	margin-right: -10000px;
	left: 117px;
}

#u753
{
	z-index: 57;
	width: 302px;
	height: 81px;
	margin-right: -10000px;
	left: 330px;
}

#u748
{
	z-index: 58;
	width: 144px;
	height: 81px;
	margin-right: -10000px;
	left: 670px;
}

#pu751-23
{
	width: 0.01px;
	left: 120px;
	margin-top: 9px;
	position: relative;
}

#u751-23
{
	z-index: 11;
	width: 283px;
	min-height: 139px;
	margin-right: -10000px;
}

#u752-17
{
	z-index: 34;
	width: 626px;
	min-height: 139px;
	margin-right: -10000px;
	left: 294px;
}

#pu750-4
{
	width: 0.01px;
	left: 120px;
	margin-top: 13px;
	position: relative;
}

#u750-4
{
	z-index: 3;
	width: 283px;
	min-height: 21px;
	margin-right: -10000px;
}

#u744-4
{
	z-index: 7;
	width: 283px;
	min-height: 21px;
	margin-right: -10000px;
	left: 637px;
}

#u742,#u742-bw
{
	z-index: 2;
	min-height: 323px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-bottom: 322px;
}

#page .verticalspacer
{
	clear: both;
}

