.version.index /* version checker */
{
	color: #0000F5;
	background-color: #2387F7;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 3443px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-bottom: -323px;
	width: 0.01px;
}

#u167,#u167-bw
{
	z-index: 3;
	height: 580px;
}

#u174
{
	z-index: 4;
	min-height: 497px;
	padding-bottom: 31px;
}

#u174_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#datafestgermany
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 479px;
	left: 580px;
}

#u1007
{
	z-index: 245;
	width: 56px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 970px;
}

#pu1005
{
	z-index: 246;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
}

#u1006-4
{
	z-index: 247;
	width: 24px;
	min-height: 13px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
}

#u174-bw
{
	z-index: 4;
	min-height: 497px;
	margin-top: 52px;
}

#u188-4
{
	z-index: 5;
	width: 249px;
	min-height: 75px;
	margin-right: -10000px;
	margin-top: 184px;
	left: 76px;
}

#u189-7
{
	z-index: 9;
	width: 249px;
	min-height: 75px;
	margin-right: -10000px;
	margin-top: 238px;
	left: 839px;
}

#u181
{
	z-index: 16;
	width: 472px;
	height: 314px;
	margin-right: -10000px;
	margin-top: 168px;
	left: 266px;
}

#pu100
{
	width: 0.01px;
	padding-bottom: 50px;
	margin-left: -100px;
	margin-top: -49px;
}

#u100
{
	z-index: 251;
	height: 50px;
	background-color: #303030;
	background-color: rgba(0,0,0,0.81);
	-pie-background: rgba(0,0,0,0.81);
}

#u100-bw
{
	z-index: 251;
	position: fixed;
	left: 0px;
	right: 0px;
	top: 531px;
}

#u368
{
	z-index: 252;
	width: 72px;
	height: 49px;
	position: fixed;
	top: 531px;
	left: 20px;
	background: transparent url("../images/logo-u368-fr.png") no-repeat left top;
	background-size: contain;
}

#menuu401
{
	z-index: 253;
	width: 606px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 531px;
	left: 250px;
}

#u409
{
	width: 145px;
	min-height: 49px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u410
{
	width: 145px;
	background-color: transparent;
	padding-bottom: 32px;
	position: relative;
}

#u410.MuseMenuActive
{
	width: 145px;
	min-height: 0px;
	margin: 0px;
}

#u413-4
{
	width: 126px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #998675;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	top: 16px;
	left: 9px;
}

#u410:hover #u413-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 126px;
	margin: 0px -10000px 0px 0px;
}

#u410.MuseMenuActive #u413-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 126px;
	margin: 0px -10000px 0px 0px;
}

#u410:hover #u413-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u416
{
	width: 133px;
	min-height: 49px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 147px;
}

#u419
{
	width: 133px;
	background-color: transparent;
	padding-bottom: 32px;
	position: relative;
}

#u419.MuseMenuActive
{
	width: 133px;
	min-height: 0px;
	margin: 0px;
}

#u421-4
{
	width: 115px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #998675;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	top: 16px;
	left: 9px;
}

#u419:hover #u421-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 115px;
	margin: 0px -10000px 0px 0px;
}

#u419.MuseMenuActive #u421-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 115px;
	margin: 0px -10000px 0px 0px;
}

#u410.MuseMenuActive #u413-4 p,#u419:hover #u421-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u423
{
	width: 69px;
	min-height: 49px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 282px;
}

#u426
{
	width: 69px;
	background-color: transparent;
	padding-bottom: 32px;
	position: relative;
}

#u426.MuseMenuActive
{
	width: 69px;
	min-height: 0px;
	margin: 0px;
}

#u429-4
{
	width: 51px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #998675;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	top: 16px;
	left: 9px;
}

#u426:hover #u429-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 51px;
	margin: 0px -10000px 0px 0px;
}

#u426.MuseMenuActive #u429-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 51px;
	margin: 0px -10000px 0px 0px;
}

#u419.MuseMenuActive #u421-4 p,#u426:hover #u429-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u430
{
	width: 93px;
	min-height: 49px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 353px;
}

#u431
{
	width: 93px;
	background-color: transparent;
	padding-bottom: 32px;
	position: relative;
}

#u431.MuseMenuActive
{
	width: 93px;
	min-height: 0px;
	margin: 0px;
}

#u434-4
{
	width: 75px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #998675;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	top: 16px;
	left: 9px;
}

#u431:hover #u434-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 75px;
	margin: 0px -10000px 0px 0px;
}

#u431.MuseMenuActive #u434-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 75px;
	margin: 0px -10000px 0px 0px;
}

#u426.MuseMenuActive #u429-4 p,#u431:hover #u434-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u845
{
	width: 86px;
	min-height: 49px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 448px;
}

#u846
{
	width: 86px;
	background-color: transparent;
	padding-bottom: 32px;
	position: relative;
}

#u846.MuseMenuActive
{
	width: 86px;
	min-height: 0px;
	margin: 0px;
}

#u849-4
{
	width: 68px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #998675;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	top: 16px;
	left: 9px;
}

#u846:hover #u849-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 68px;
	margin: 0px -10000px 0px 0px;
}

#u846.MuseMenuActive #u849-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 68px;
	margin: 0px -10000px 0px 0px;
}

#u431.MuseMenuActive #u434-4 p,#u846:hover #u849-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u437
{
	width: 70px;
	min-height: 49px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 536px;
}

#u440
{
	width: 70px;
	background-color: transparent;
	padding-bottom: 32px;
	position: relative;
}

#u440.MuseMenuActive
{
	width: 70px;
	min-height: 0px;
	margin: 0px;
}

#u441-4
{
	width: 52px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #998675;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	top: 16px;
	left: 9px;
}

#u440:hover #u441-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 52px;
	margin: 0px -10000px 0px 0px;
}

#u440.MuseMenuActive #u441-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 52px;
	margin: 0px -10000px 0px 0px;
}

#u846.MuseMenuActive #u849-4 p,#u440:hover #u441-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u440.MuseMenuActive #u441-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u1042
{
	z-index: 290;
	width: 56px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 543px;
	left: 869px;
}

#pu1043
{
	z-index: 291;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
}

#u1005,#u1043
{
	z-index: 0;
	width: 56px;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	border-radius: 10px;
	position: absolute;
	top: 0px;
	bottom: 0px;
	background: transparent url("../images/eng.jpg") no-repeat center center;
	background-size: cover;
}

#pu1006-4,#pu1044-4
{
	width: 0.01px;
	position: relative;
	left: 16px;
	padding-top: 5px;
	z-index: 2;
	padding-bottom: 5px;
}

#u1044-4
{
	z-index: 292;
	width: 24px;
	min-height: 13px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
}

#u191
{
	z-index: 76;
	min-height: 334px;
	background-color: #2E2E2E;
	padding-bottom: 60px;
}

#u191_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
	left: -100px;
	margin-bottom: -1px;
}

#u355-42
{
	z-index: 113;
	width: 795px;
	min-height: 274px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: justify;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 60px;
	left: 183px;
}

#u355-4,#u355-7,#u355-10,#u355-13,#u355-16,#u355-18,#u355-21,#u355-24,#u355-26,#u355-29,#u355-31,#u355-34,#u355-36
{
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u191-bw
{
	z-index: 76;
	min-height: 334px;
	margin-top: -1px;
}

#u132
{
	z-index: 75;
	min-height: 295px;
	padding-bottom: 121px;
	background: transparent url("../images/bild2.jpg") no-repeat center top;
	background-size: cover;
}

#aufgabe
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 277px;
	left: 569px;
}

#u132-bw
{
	z-index: 75;
	min-height: 295px;
}

#u357
{
	z-index: 110;
	min-height: 272px;
	background-color: #2E2E2E;
	padding-bottom: 37px;
}

#u356-17
{
	z-index: 155;
	width: 795px;
	min-height: 239px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: justify;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 33px;
	left: 183px;
}

#u357-bw
{
	z-index: 110;
	min-height: 272px;
}

#u139
{
	z-index: 74;
	min-height: 352px;
	padding-bottom: 118px;
	background: transparent url("../images/bild3.jpg") no-repeat center top;
	background-size: cover;
}

#anreise
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 334px;
	left: 591px;
}

#u139-bw
{
	z-index: 74;
	min-height: 352px;
}

#u358
{
	z-index: 111;
	min-height: 265px;
	background-color: #2E2E2E;
	padding-bottom: 26px;
}

#u361-18
{
	z-index: 208;
	width: 534px;
	min-height: 240px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 25px;
	left: 196px;
}

#u361-2
{
	color: #FFFFFF;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-style: italic;
}

#u361-3,#u361-5,#u361-7,#u361-9,#u361-10,#u361-12,#u361-13,#u361-15
{
	color: #FFFFFF;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u683
{
	z-index: 231;
	width: 295px;
	min-height: 240px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 25px;
	left: 745px;
}

#u358-bw
{
	z-index: 111;
	min-height: 265px;
}

#u147
{
	z-index: 73;
	min-height: 384px;
	padding-bottom: 75px;
	background: transparent url("../images/bild4.jpg") no-repeat center center;
	background-size: cover;
}

#sponsoring
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 366px;
	left: 580px;
}

#u147-bw
{
	z-index: 73;
	min-height: 384px;
}

#u852
{
	z-index: 232;
	min-height: 241px;
	background-color: #2E2E2E;
	padding-bottom: 67px;
}

#u853-10
{
	z-index: 233;
	width: 795px;
	min-height: 175px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 66px;
	left: 182px;
}

#u852-bw
{
	z-index: 232;
	min-height: 241px;
}

#teilnahme
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 383px;
	left: 580px;
}

#u854
{
	z-index: 243;
	height: 437px;
	background: transparent url("../images/2828246011_5f55a6a06f_z.jpg") no-repeat left top;
	background-size: cover;
}

#u854-bw
{
	z-index: 243;
	height: 437px;
}

#pu167,#pteilnahme,#pu844
{
	width: 0.01px;
	margin-left: -100px;
}

#u844
{
	z-index: 77;
	height: 644px;
	background-color: #2E2E2E;
}

#u844-bw
{
	z-index: 77;
	margin-top: 544px;
	height: 644px;
}

#pamphletu195
{
	z-index: 78;
	width: 0.01px;
	height: 530px;
	padding-bottom: 33px;
	position: relative;
	margin-right: -10000px;
	margin-top: 611px;
}

#u200
{
	position: absolute;
	width: 1161px;
	background-color: transparent;
}

#u200popup
{
	z-index: 79;
}

#u201
{
	z-index: 80;
	width: 1159px;
	height: 562px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	margin-right: -10000px;
	position: relative;
	background: #FFFFFF url("../images/1.jpg") no-repeat left top;
	background-size: cover;
}

#u211
{
	z-index: 81;
	width: 1159px;
	height: 562px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	margin-right: -10000px;
	position: relative;
	background: #FFFFFF url("../images/2.jpg") no-repeat center center;
	background-size: cover;
}

#u206
{
	z-index: 82;
	width: 1159px;
	height: 562px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	margin-right: -10000px;
	position: relative;
	background: #FFFFFF url("../images/3.jpg") no-repeat center center;
	background-size: cover;
}

#u260
{
	z-index: 83;
	width: 1159px;
	height: 562px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	margin-right: -10000px;
	position: relative;
	background: #FFFFFF url("../images/4.jpg") no-repeat center center;
	background-size: cover;
}

#u262
{
	z-index: 84;
	width: 1159px;
	height: 562px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	margin-right: -10000px;
	position: relative;
	background: #FFFFFF url("../images/5.jpg") no-repeat center center;
	background-size: cover;
}

#u264
{
	z-index: 85;
	width: 1159px;
	height: 562px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	margin-right: -10000px;
	position: relative;
	background: #FFFFFF url("../images/6.jpg") no-repeat center center;
	background-size: cover;
}

#impressum
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 509px;
	left: 558px;
}

#u266
{
	z-index: 87;
	width: 1159px;
	height: 562px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	margin-right: -10000px;
	position: relative;
	background: #FFFFFF url("../images/7.jpg") no-repeat center center;
	background-size: cover;
}

#u268
{
	z-index: 88;
	width: 1159px;
	height: 562px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	margin-right: -10000px;
	position: relative;
	background: #FFFFFF url("../images/8.jpg") no-repeat center center;
	background-size: cover;
}

#u300
{
	z-index: 89;
	width: 1159px;
	height: 562px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	margin-right: -10000px;
	position: relative;
	background: #FFFFFF url("../images/9.jpg") no-repeat center center;
	background-size: cover;
}

#u302
{
	z-index: 90;
	width: 1159px;
	height: 562px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	margin-right: -10000px;
	position: relative;
	background: #FFFFFF url("../images/10.jpg") no-repeat center center;
	background-size: cover;
}

#u304
{
	z-index: 91;
	width: 1159px;
	height: 562px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	margin-right: -10000px;
	position: relative;
	background: #FFFFFF url("../images/12.jpg") no-repeat center top;
	background-size: cover;
}

#u330
{
	z-index: 92;
	width: 1159px;
	height: 562px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	margin-right: -10000px;
	position: relative;
	background: #FFFFFF url("../images/13.jpg") no-repeat center center;
	background-size: cover;
}

#u332
{
	z-index: 93;
	width: 1159px;
	height: 562px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	margin-right: -10000px;
	position: relative;
	background: #FFFFFF url("../images/14.jpg") no-repeat center top;
	background-size: cover;
}

#u346
{
	z-index: 94;
	width: 1159px;
	height: 562px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	margin-right: -10000px;
	position: relative;
	background: #FFFFFF url("../images/15.jpg") no-repeat center center;
	background-size: cover;
}

#u216
{
	z-index: 95;
	width: 345px;
	position: relative;
	margin-right: -10000px;
	margin-top: 514px;
	left: 569px;
}

#u217
{
	position: absolute;
	width: 16px;
	height: 15px;
	border-style: none;
	border-color: transparent;
	background-color: #C4C4C4;
	border-radius: 10px;
}

#u217:hover
{
	border-style: none;
	border-color: transparent;
	background-color: #999999;
	border-radius: 10px;
	width: 16px;
	height: 15px;
	min-height: 0px;
	margin: 0px;
}

#u217.PamphletThumbSelected
{
	background-color: #6B6B6B;
	border-radius: 0px;
	width: 16px;
	height: 15px;
	min-height: 0px;
	margin: 0px;
}

#u218
{
	position: absolute;
	width: 16px;
	height: 15px;
	border-style: none;
	border-color: transparent;
	background-color: #C4C4C4;
	border-radius: 10px;
	left: 21px;
}

#u218:hover
{
	background-color: #999999;
	border-radius: 10px;
	width: 16px;
	height: 15px;
	min-height: 0px;
	margin: 0px;
}

#u218.PamphletThumbSelected
{
	border-style: none;
	border-color: transparent;
	background-color: #6B6B6B;
	border-radius: 0px;
	width: 16px;
	height: 15px;
	min-height: 0px;
	margin: 0px;
}

#u219
{
	position: absolute;
	width: 16px;
	height: 14px;
	background-color: #C4C4C4;
	border-radius: 10px;
	top: 2px;
	left: 43px;
}

#u219:hover
{
	border-color: #000000;
	background-color: #999999;
	border-radius: 10px;
	width: 16px;
	height: 14px;
	min-height: 0px;
	margin: 0px;
}

#u261
{
	position: absolute;
	width: 16px;
	height: 14px;
	background-color: #C4C4C4;
	border-radius: 10px;
	top: 2px;
	left: 69px;
}

#u261:hover
{
	border-color: #000000;
	background-color: #999999;
	border-radius: 10px;
	width: 16px;
	height: 14px;
	min-height: 0px;
	margin: 0px;
}

#u263
{
	position: absolute;
	width: 16px;
	height: 14px;
	background-color: #C4C4C4;
	border-radius: 10px;
	top: 2px;
	left: 95px;
}

#u263:hover
{
	border-color: #000000;
	background-color: #999999;
	border-radius: 10px;
	width: 16px;
	height: 14px;
	min-height: 0px;
	margin: 0px;
}

#u265
{
	position: absolute;
	width: 16px;
	height: 14px;
	background-color: #C4C4C4;
	border-radius: 10px;
	top: 2px;
	left: 121px;
}

#u265:hover
{
	border-color: #000000;
	background-color: #999999;
	border-radius: 10px;
	width: 16px;
	height: 14px;
	min-height: 0px;
	margin: 0px;
}

#u267
{
	position: absolute;
	width: 16px;
	height: 14px;
	background-color: #C4C4C4;
	border-radius: 10px;
	top: 2px;
	left: 147px;
}

#u267:hover
{
	border-color: #000000;
	background-color: #999999;
	border-radius: 10px;
	width: 16px;
	height: 14px;
	min-height: 0px;
	margin: 0px;
}

#u269
{
	position: absolute;
	width: 16px;
	height: 14px;
	background-color: #C4C4C4;
	border-radius: 10px;
	top: 2px;
	left: 173px;
}

#u269:hover
{
	border-color: #000000;
	background-color: #999999;
	border-radius: 10px;
	width: 16px;
	height: 14px;
	min-height: 0px;
	margin: 0px;
}

#u301
{
	position: absolute;
	width: 16px;
	height: 14px;
	background-color: #C4C4C4;
	border-radius: 10px;
	top: 2px;
	left: 199px;
}

#u301:hover
{
	border-color: #000000;
	background-color: #999999;
	border-radius: 10px;
	width: 16px;
	height: 14px;
	min-height: 0px;
	margin: 0px;
}

#u303
{
	position: absolute;
	width: 16px;
	height: 14px;
	background-color: #C4C4C4;
	border-radius: 10px;
	top: 2px;
	left: 225px;
}

#u303:hover
{
	border-color: #000000;
	background-color: #999999;
	border-radius: 10px;
	width: 16px;
	height: 14px;
	min-height: 0px;
	margin: 0px;
}

#u305
{
	position: absolute;
	width: 16px;
	height: 14px;
	background-color: #C4C4C4;
	border-radius: 10px;
	top: 2px;
	left: 251px;
}

#u305:hover
{
	border-color: #000000;
	background-color: #999999;
	border-radius: 10px;
	width: 16px;
	height: 14px;
	min-height: 0px;
	margin: 0px;
}

#u331
{
	position: absolute;
	width: 16px;
	height: 14px;
	background-color: #C4C4C4;
	border-radius: 10px;
	top: 2px;
	left: 277px;
}

#u331:hover
{
	border-color: #000000;
	background-color: #999999;
	border-radius: 10px;
	width: 16px;
	height: 14px;
	min-height: 0px;
	margin: 0px;
}

#u333
{
	position: absolute;
	width: 16px;
	height: 14px;
	background-color: #C4C4C4;
	border-radius: 10px;
	top: 2px;
	left: 303px;
}

#u333:hover
{
	border-color: #000000;
	background-color: #999999;
	border-radius: 10px;
	width: 16px;
	height: 14px;
	min-height: 0px;
	margin: 0px;
}

#u347
{
	position: absolute;
	width: 16px;
	height: 14px;
	background-color: #C4C4C4;
	border-radius: 10px;
	top: 2px;
	left: 329px;
}

#u347:hover
{
	border-color: #000000;
	background-color: #999999;
	border-radius: 10px;
	width: 16px;
	height: 14px;
	min-height: 0px;
	margin: 0px;
}

#u219.PamphletThumbSelected,#u261.PamphletThumbSelected,#u263.PamphletThumbSelected,#u265.PamphletThumbSelected,#u267.PamphletThumbSelected,#u269.PamphletThumbSelected,#u301.PamphletThumbSelected,#u303.PamphletThumbSelected,#u305.PamphletThumbSelected,#u331.PamphletThumbSelected,#u333.PamphletThumbSelected,#u347.PamphletThumbSelected
{
	border-style: none;
	border-color: transparent;
	background-color: #6B6B6B;
	border-radius: 0px;
	width: 16px;
	height: 14px;
	min-height: 0px;
	margin: 0px;
}

.MenuItem,.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* unifiedNavBar */
{
	cursor: pointer;
}

#u359
{
	z-index: 112;
	min-height: 537px;
	background-color: #2E2E2E;
	padding-bottom: 87px;
}

#u132_align_to_page,#u357_align_to_page,#u139_align_to_page,#u358_align_to_page,#u147_align_to_page,#u852_align_to_page,#u359_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
	left: -100px;
}

#u360-36
{
	z-index: 172;
	width: 795px;
	min-height: 449px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: justify;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 88px;
	left: 193px;
}

#u355-2,#u355-3,#u356-2,#u853-2,#u360-2
{
	font-style: italic;
}

#u359-bw
{
	z-index: 112;
	min-height: 537px;
}

#galerie
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 506px;
	left: 569px;
}

#u680_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
	padding-top: 30px;
}

#u685-4
{
	z-index: 65;
	width: 306px;
	min-height: 21px;
	left: 120px;
}

#pu687
{
	width: 0.01px;
	left: 170px;
	margin-top: 9px;
	position: relative;
}

#u687
{
	z-index: 69;
	width: 82px;
	height: 81px;
	margin-right: -10000px;
}

#u694
{
	z-index: 70;
	width: 175px;
	height: 81px;
	margin-right: -10000px;
	left: 117px;
}

#u701
{
	z-index: 71;
	width: 302px;
	height: 81px;
	margin-right: -10000px;
	left: 330px;
}

#u708
{
	z-index: 72;
	width: 144px;
	height: 81px;
	margin-right: -10000px;
	left: 670px;
}

#pu681-23
{
	width: 0.01px;
	left: 120px;
	margin-top: 9px;
	position: relative;
}

#u681-23
{
	z-index: 25;
	width: 283px;
	min-height: 139px;
	margin-right: -10000px;
}

#u682-17
{
	z-index: 48;
	width: 626px;
	min-height: 139px;
	margin-right: -10000px;
	left: 294px;
}

#pu460-4
{
	width: 0.01px;
	left: 120px;
	margin-top: 13px;
	position: relative;
}

#u460-4
{
	z-index: 17;
	width: 283px;
	min-height: 21px;
	margin-right: -10000px;
}

#u461-4
{
	z-index: 21;
	width: 283px;
	min-height: 21px;
	margin-right: -10000px;
	left: 637px;
}

#u680,#u680-bw
{
	z-index: 2;
	min-height: 323px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-bottom: 322px;
}

#page .verticalspacer
{
	clear: both;
}

