.version.index /* version checker */
{
	color: #000001;
	background-color: #2D98EE;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 3443px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-bottom: -379px;
	width: 0.01px;
}

#pu167
{
	width: 0.01px;
	margin-left: -100px;
}

#u167,#u167-bw
{
	z-index: 3;
	height: 580px;
}

#u174
{
	z-index: 4;
	min-height: 497px;
	padding-bottom: 31px;
}

#u174_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#datafestgermany
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 479px;
	left: 580px;
}

#u174-bw
{
	z-index: 4;
	min-height: 497px;
	margin-top: 52px;
}

#u188-4
{
	z-index: 5;
	width: 249px;
	min-height: 75px;
	margin-right: -10000px;
	margin-top: 184px;
	left: 76px;
}

#u189-7
{
	z-index: 9;
	width: 249px;
	min-height: 75px;
	margin-right: -10000px;
	margin-top: 238px;
	left: 839px;
}

#u181
{
	z-index: 16;
	width: 472px;
	height: 314px;
	margin-right: -10000px;
	margin-top: 168px;
	left: 266px;
}

#pu100
{
	width: 0.01px;
	padding-bottom: 50px;
	margin-left: -100px;
	margin-top: -49px;
}

#u100
{
	z-index: 209;
	height: 50px;
	background-color: #303030;
	background-color: rgba(0,0,0,0.81);
	-pie-background: rgba(0,0,0,0.81);
}

#u100-bw
{
	z-index: 209;
	position: fixed;
	left: 0px;
	right: 0px;
	top: 531px;
}

#u368
{
	z-index: 210;
	width: 72px;
	height: 49px;
	position: fixed;
	top: 531px;
	left: 20px;
	background: transparent url("../images/logo-u368-fr.png") no-repeat left top;
	background-size: contain;
}

#menuu401
{
	z-index: 211;
	width: 508px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 531px;
	left: 432px;
}

#u409
{
	width: 145px;
	min-height: 49px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u410
{
	width: 145px;
	background-color: transparent;
	padding-bottom: 32px;
	position: relative;
}

#u410.MuseMenuActive
{
	width: 145px;
	min-height: 0px;
	margin: 0px;
}

#u413-4
{
	width: 126px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #998675;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	top: 16px;
	left: 9px;
}

#u410:hover #u413-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 126px;
	margin: 0px -10000px 0px 0px;
}

#u410.MuseMenuActive #u413-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 126px;
	margin: 0px -10000px 0px 0px;
}

#u410:hover #u413-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u416
{
	width: 133px;
	min-height: 49px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 147px;
}

#u419
{
	width: 133px;
	background-color: transparent;
	padding-bottom: 32px;
	position: relative;
}

#u419.MuseMenuActive
{
	width: 133px;
	min-height: 0px;
	margin: 0px;
}

#u421-4
{
	width: 115px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #998675;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	top: 16px;
	left: 9px;
}

#u419:hover #u421-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 115px;
	margin: 0px -10000px 0px 0px;
}

#u419.MuseMenuActive #u421-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 115px;
	margin: 0px -10000px 0px 0px;
}

#u410.MuseMenuActive #u413-4 p,#u419:hover #u421-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u423
{
	width: 69px;
	min-height: 49px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 282px;
}

#u426
{
	width: 69px;
	background-color: transparent;
	padding-bottom: 32px;
	position: relative;
}

#u426.MuseMenuActive
{
	width: 69px;
	min-height: 0px;
	margin: 0px;
}

#u429-4
{
	width: 51px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #998675;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	top: 16px;
	left: 9px;
}

#u426:hover #u429-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 51px;
	margin: 0px -10000px 0px 0px;
}

#u426.MuseMenuActive #u429-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 51px;
	margin: 0px -10000px 0px 0px;
}

#u419.MuseMenuActive #u421-4 p,#u426:hover #u429-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u430
{
	width: 86px;
	min-height: 49px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 353px;
}

#u431
{
	width: 86px;
	background-color: transparent;
	padding-bottom: 32px;
	position: relative;
}

#u431.MuseMenuActive
{
	width: 86px;
	min-height: 0px;
	margin: 0px;
}

#u434-4
{
	width: 68px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #998675;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	top: 16px;
	left: 9px;
}

#u431:hover #u434-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 68px;
	margin: 0px -10000px 0px 0px;
}

#u431.MuseMenuActive #u434-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 68px;
	margin: 0px -10000px 0px 0px;
}

#u426.MuseMenuActive #u429-4 p,#u431:hover #u434-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u437
{
	width: 67px;
	min-height: 49px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 441px;
}

#u440
{
	width: 67px;
	background-color: transparent;
	padding-bottom: 32px;
	position: relative;
}

#u440.MuseMenuActive
{
	width: 67px;
	min-height: 0px;
	margin: 0px;
}

#u441-4
{
	width: 49px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #998675;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	top: 16px;
	left: 9px;
}

#u440:hover #u441-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 49px;
	margin: 0px -10000px 0px 0px;
}

#u440.MuseMenuActive #u441-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 49px;
	margin: 0px -10000px 0px 0px;
}

#u431.MuseMenuActive #u434-4 p,#u440:hover #u441-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u440.MuseMenuActive #u441-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u191
{
	z-index: 79;
	min-height: 230px;
	background-color: #2E2E2E;
	padding-bottom: 25px;
}

#u191_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
	left: -100px;
	margin-bottom: -1px;
}

#u355-13
{
	z-index: 114;
	width: 795px;
	min-height: 150px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: justify;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 26px;
	left: 183px;
}

#u191-bw
{
	z-index: 79;
	min-height: 230px;
	margin-top: -1px;
}

#u132
{
	z-index: 78;
	min-height: 295px;
	padding-bottom: 67px;
	background: transparent url("../images/bild2.jpg") no-repeat center top;
	background-size: cover;
}

#aufgabe
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 277px;
	left: 569px;
}

#u132-bw
{
	z-index: 78;
	min-height: 295px;
}

#u357
{
	z-index: 111;
	min-height: 300px;
	background-color: #2E2E2E;
	padding-bottom: 9px;
}

#u356-18
{
	z-index: 127;
	width: 795px;
	min-height: 292px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 183px;
}

#u356-3
{
	text-align: justify;
	color: #FFFFFF;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-style: italic;
}

#u356-4,#u356-6,#u356-7,#u356-9,#u356-11,#u356-13,#u356-15
{
	text-align: justify;
	color: #FFFFFF;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u357-bw
{
	z-index: 111;
	min-height: 300px;
}

#u139
{
	z-index: 77;
	min-height: 251px;
	padding-bottom: 77px;
	background: transparent url("../images/bild3.jpg") no-repeat center top;
	background-size: cover;
}

#teilnahme
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 233px;
	left: 545px;
}

#u139-bw
{
	z-index: 77;
	min-height: 251px;
}

#u358
{
	z-index: 112;
	min-height: 246px;
	background-color: #2E2E2E;
	padding-bottom: 5px;
}

#u361-18
{
	z-index: 184;
	width: 534px;
	min-height: 240px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 195px;
}

#u361-2
{
	color: #FFFFFF;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-style: italic;
}

#u361-3,#u361-5,#u361-7,#u361-9,#u361-10,#u361-12,#u361-13,#u361-15
{
	color: #FFFFFF;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u683
{
	z-index: 208;
	width: 295px;
	min-height: 240px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 745px;
}

#u358-bw
{
	z-index: 112;
	min-height: 246px;
	margin-top: -5px;
}

#u147
{
	z-index: 76;
	min-height: 222px;
	padding-bottom: 124px;
	background: transparent url("../images/bild4.jpg") no-repeat center center;
	background-size: cover;
}

#u358_align_to_page,#u147_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
	left: -100px;
	margin-bottom: -5px;
}

#anreise
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 204px;
	left: 575px;
}

#u147-bw
{
	z-index: 76;
	min-height: 222px;
	margin-top: -5px;
}

#pu679
{
	width: 0.01px;
	padding-bottom: 1px;
	margin-left: -100px;
}

#u679
{
	z-index: 75;
	height: 528px;
	background-color: #2E2E2E;
}

#u679-bw
{
	z-index: 75;
	margin-top: 504px;
	height: 528px;
}

#pamphletu195
{
	z-index: 80;
	width: 0.01px;
	height: 553px;
	padding-bottom: 10px;
	position: relative;
	margin-right: -10000px;
	margin-top: 558px;
}

#u200
{
	position: absolute;
	width: 1161px;
	background-color: transparent;
}

#u200popup
{
	z-index: 81;
}

#u201
{
	z-index: 82;
	width: 1159px;
	height: 562px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	margin-right: -10000px;
	position: relative;
	background: #FFFFFF url("../images/1.jpg") no-repeat left top;
	background-size: cover;
}

#u211
{
	z-index: 83;
	width: 1159px;
	height: 562px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	margin-right: -10000px;
	position: relative;
	background: #FFFFFF url("../images/2.jpg") no-repeat center center;
	background-size: cover;
}

#u206
{
	z-index: 84;
	width: 1159px;
	height: 562px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	margin-right: -10000px;
	position: relative;
	background: #FFFFFF url("../images/3.jpg") no-repeat center center;
	background-size: cover;
}

#u260
{
	z-index: 85;
	width: 1159px;
	height: 562px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	margin-right: -10000px;
	position: relative;
	background: #FFFFFF url("../images/4.jpg") no-repeat center center;
	background-size: cover;
}

#u262
{
	z-index: 86;
	width: 1159px;
	height: 562px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	margin-right: -10000px;
	position: relative;
	background: #FFFFFF url("../images/5.jpg") no-repeat center center;
	background-size: cover;
}

#u264
{
	z-index: 87;
	width: 1159px;
	height: 562px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	margin-right: -10000px;
	position: relative;
	background: #FFFFFF url("../images/6.jpg") no-repeat center center;
	background-size: cover;
}

#u266
{
	z-index: 88;
	width: 1159px;
	height: 562px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	margin-right: -10000px;
	position: relative;
	background: #FFFFFF url("../images/7.jpg") no-repeat center center;
	background-size: cover;
}

#u268
{
	z-index: 89;
	width: 1159px;
	height: 562px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	margin-right: -10000px;
	position: relative;
	background: #FFFFFF url("../images/8.jpg") no-repeat center center;
	background-size: cover;
}

#u300
{
	z-index: 90;
	width: 1159px;
	height: 562px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	margin-right: -10000px;
	position: relative;
	background: #FFFFFF url("../images/9.jpg") no-repeat center center;
	background-size: cover;
}

#u302
{
	z-index: 91;
	width: 1159px;
	height: 562px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	margin-right: -10000px;
	position: relative;
	background: #FFFFFF url("../images/10.jpg") no-repeat center center;
	background-size: cover;
}

#u304
{
	z-index: 92;
	width: 1159px;
	height: 562px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	margin-right: -10000px;
	position: relative;
	background: #FFFFFF url("../images/12.jpg") no-repeat center top;
	background-size: cover;
}

#u330
{
	z-index: 93;
	width: 1159px;
	height: 562px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	margin-right: -10000px;
	position: relative;
	background: #FFFFFF url("../images/13.jpg") no-repeat center center;
	background-size: cover;
}

#u332
{
	z-index: 94;
	width: 1159px;
	height: 562px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	margin-right: -10000px;
	position: relative;
	background: #FFFFFF url("../images/14.jpg") no-repeat center top;
	background-size: cover;
}

#u346
{
	z-index: 95;
	width: 1159px;
	height: 562px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	margin-right: -10000px;
	position: relative;
	background: #FFFFFF url("../images/15.jpg") no-repeat center center;
	background-size: cover;
}

#u216
{
	z-index: 96;
	width: 345px;
	position: relative;
	margin-right: -10000px;
	margin-top: 537px;
	left: 569px;
}

#u217
{
	position: absolute;
	width: 16px;
	height: 15px;
	border-style: none;
	border-color: transparent;
	background-color: #C4C4C4;
	border-radius: 10px;
}

#u217:hover
{
	border-style: none;
	border-color: transparent;
	background-color: #999999;
	border-radius: 10px;
	width: 16px;
	height: 15px;
	min-height: 0px;
	margin: 0px;
}

#u217.PamphletThumbSelected
{
	background-color: #6B6B6B;
	border-radius: 0px;
	width: 16px;
	height: 15px;
	min-height: 0px;
	margin: 0px;
}

#u218
{
	position: absolute;
	width: 16px;
	height: 15px;
	border-style: none;
	border-color: transparent;
	background-color: #C4C4C4;
	border-radius: 10px;
	left: 21px;
}

#u218:hover
{
	background-color: #999999;
	border-radius: 10px;
	width: 16px;
	height: 15px;
	min-height: 0px;
	margin: 0px;
}

#u218.PamphletThumbSelected
{
	border-style: none;
	border-color: transparent;
	background-color: #6B6B6B;
	border-radius: 0px;
	width: 16px;
	height: 15px;
	min-height: 0px;
	margin: 0px;
}

#u219
{
	position: absolute;
	width: 16px;
	height: 14px;
	background-color: #C4C4C4;
	border-radius: 10px;
	top: 2px;
	left: 43px;
}

#u219:hover
{
	border-color: #000000;
	background-color: #999999;
	border-radius: 10px;
	width: 16px;
	height: 14px;
	min-height: 0px;
	margin: 0px;
}

#u261
{
	position: absolute;
	width: 16px;
	height: 14px;
	background-color: #C4C4C4;
	border-radius: 10px;
	top: 2px;
	left: 69px;
}

#u261:hover
{
	border-color: #000000;
	background-color: #999999;
	border-radius: 10px;
	width: 16px;
	height: 14px;
	min-height: 0px;
	margin: 0px;
}

#u263
{
	position: absolute;
	width: 16px;
	height: 14px;
	background-color: #C4C4C4;
	border-radius: 10px;
	top: 2px;
	left: 95px;
}

#u263:hover
{
	border-color: #000000;
	background-color: #999999;
	border-radius: 10px;
	width: 16px;
	height: 14px;
	min-height: 0px;
	margin: 0px;
}

#u265
{
	position: absolute;
	width: 16px;
	height: 14px;
	background-color: #C4C4C4;
	border-radius: 10px;
	top: 2px;
	left: 121px;
}

#u265:hover
{
	border-color: #000000;
	background-color: #999999;
	border-radius: 10px;
	width: 16px;
	height: 14px;
	min-height: 0px;
	margin: 0px;
}

#u267
{
	position: absolute;
	width: 16px;
	height: 14px;
	background-color: #C4C4C4;
	border-radius: 10px;
	top: 2px;
	left: 147px;
}

#u267:hover
{
	border-color: #000000;
	background-color: #999999;
	border-radius: 10px;
	width: 16px;
	height: 14px;
	min-height: 0px;
	margin: 0px;
}

#u269
{
	position: absolute;
	width: 16px;
	height: 14px;
	background-color: #C4C4C4;
	border-radius: 10px;
	top: 2px;
	left: 173px;
}

#u269:hover
{
	border-color: #000000;
	background-color: #999999;
	border-radius: 10px;
	width: 16px;
	height: 14px;
	min-height: 0px;
	margin: 0px;
}

#u301
{
	position: absolute;
	width: 16px;
	height: 14px;
	background-color: #C4C4C4;
	border-radius: 10px;
	top: 2px;
	left: 199px;
}

#u301:hover
{
	border-color: #000000;
	background-color: #999999;
	border-radius: 10px;
	width: 16px;
	height: 14px;
	min-height: 0px;
	margin: 0px;
}

#u303
{
	position: absolute;
	width: 16px;
	height: 14px;
	background-color: #C4C4C4;
	border-radius: 10px;
	top: 2px;
	left: 225px;
}

#u303:hover
{
	border-color: #000000;
	background-color: #999999;
	border-radius: 10px;
	width: 16px;
	height: 14px;
	min-height: 0px;
	margin: 0px;
}

#u305
{
	position: absolute;
	width: 16px;
	height: 14px;
	background-color: #C4C4C4;
	border-radius: 10px;
	top: 2px;
	left: 251px;
}

#u305:hover
{
	border-color: #000000;
	background-color: #999999;
	border-radius: 10px;
	width: 16px;
	height: 14px;
	min-height: 0px;
	margin: 0px;
}

#u331
{
	position: absolute;
	width: 16px;
	height: 14px;
	background-color: #C4C4C4;
	border-radius: 10px;
	top: 2px;
	left: 277px;
}

#u331:hover
{
	border-color: #000000;
	background-color: #999999;
	border-radius: 10px;
	width: 16px;
	height: 14px;
	min-height: 0px;
	margin: 0px;
}

#u333
{
	position: absolute;
	width: 16px;
	height: 14px;
	background-color: #C4C4C4;
	border-radius: 10px;
	top: 2px;
	left: 303px;
}

#u333:hover
{
	border-color: #000000;
	background-color: #999999;
	border-radius: 10px;
	width: 16px;
	height: 14px;
	min-height: 0px;
	margin: 0px;
}

#u347
{
	position: absolute;
	width: 16px;
	height: 14px;
	background-color: #C4C4C4;
	border-radius: 10px;
	top: 2px;
	left: 329px;
}

#u347:hover
{
	border-color: #000000;
	background-color: #999999;
	border-radius: 10px;
	width: 16px;
	height: 14px;
	min-height: 0px;
	margin: 0px;
}

#u219.PamphletThumbSelected,#u261.PamphletThumbSelected,#u263.PamphletThumbSelected,#u265.PamphletThumbSelected,#u267.PamphletThumbSelected,#u269.PamphletThumbSelected,#u301.PamphletThumbSelected,#u303.PamphletThumbSelected,#u305.PamphletThumbSelected,#u331.PamphletThumbSelected,#u333.PamphletThumbSelected,#u347.PamphletThumbSelected
{
	border-style: none;
	border-color: transparent;
	background-color: #6B6B6B;
	border-radius: 0px;
	width: 16px;
	height: 14px;
	min-height: 0px;
	margin: 0px;
}

.MenuItem,.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* unifiedNavBar */
{
	cursor: pointer;
}

#u359
{
	z-index: 113;
	min-height: 513px;
	background-color: #2E2E2E;
	padding-bottom: 10px;
}

#u132_align_to_page,#u357_align_to_page,#u139_align_to_page,#u359_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
	left: -100px;
}

#u360-39
{
	z-index: 145;
	width: 795px;
	min-height: 468px;
	background-color: transparent;
	text-align: justify;
	color: #FFFFFF;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 45px;
	left: 182px;
}

#u355-2,#u360-3
{
	font-style: italic;
}

#u359-bw
{
	z-index: 113;
	min-height: 513px;
}

#impressum
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 736px;
	left: 568px;
}

#galerie
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 434px;
	left: 564px;
}

#u680
{
	z-index: 2;
	min-height: 379px;
}

#u680_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
	padding-top: 30px;
	margin-bottom: -1px;
}

#u685-4
{
	z-index: 67;
	width: 306px;
	min-height: 21px;
	left: 120px;
}

#pu687
{
	width: 0.01px;
	left: 170px;
	margin-top: 9px;
	position: relative;
}

#u687
{
	z-index: 71;
	width: 82px;
	height: 81px;
	margin-right: -10000px;
}

#u694
{
	z-index: 72;
	width: 175px;
	height: 81px;
	margin-right: -10000px;
	left: 117px;
}

#u701
{
	z-index: 73;
	width: 302px;
	height: 81px;
	margin-right: -10000px;
	left: 330px;
}

#u708
{
	z-index: 74;
	width: 144px;
	height: 81px;
	margin-right: -10000px;
	left: 670px;
}

#pu681-23
{
	width: 0.01px;
	left: 120px;
	margin-top: 9px;
	position: relative;
}

#u681-23
{
	z-index: 25;
	width: 283px;
	min-height: 177px;
	margin-right: -10000px;
}

#u682-19
{
	z-index: 48;
	width: 626px;
	min-height: 177px;
	margin-right: -10000px;
	left: 294px;
}

#pu460-4
{
	width: 0.01px;
	left: 120px;
	margin-top: 31px;
	position: relative;
}

#u460-4
{
	z-index: 17;
	width: 283px;
	min-height: 21px;
	margin-right: -10000px;
}

#u461-4
{
	z-index: 21;
	width: 283px;
	min-height: 21px;
	margin-right: -10000px;
	left: 657px;
}

#u680-bw
{
	z-index: 2;
	min-height: 379px;
	margin-top: -1px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-bottom: 417px;
}

#page .verticalspacer
{
	clear: both;
}

