#u1030
{
	background: transparent url("../images/bild11.jpg") no-repeat center top;
	background-size: cover;
}

#u1020
{
	background: transparent url("../images/bild12.png") no-repeat left top;
	background-size: cover;
}

#u1022-4
{
	background-color: transparent;
	line-height: 26px;
	color: #FFFFFF;
	font-size: 22px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	-webkit-transform: matrix(0.9781,-0.2079,0.2079,0.9781,-5,27);
	-ms-transform: matrix(0.9781,-0.2079,0.2079,0.9781,-5,27);
	transform: matrix(0.9781,-0.2079,0.2079,0.9781,-5,27);
	position: relative;
}

#u1027-9
{
	background-color: transparent;
	line-height: 26px;
	color: #FFFFFF;
	font-size: 22px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	-webkit-transform: matrix(0.9781,-0.2079,0.2079,0.9781,-11,27);
	-ms-transform: matrix(0.9781,-0.2079,0.2079,0.9781,-11,27);
	transform: matrix(0.9781,-0.2079,0.2079,0.9781,-11,27);
	position: relative;
}

#u1034
{
	-webkit-transform: matrix(0.9962,-0.0872,0.0872,0.9962,-13,21);
	-ms-transform: matrix(0.9962,-0.0872,0.0872,0.9962,-13,21);
	transform: matrix(0.9962,-0.0872,0.0872,0.9962,-13,21);
	position: relative;
	background: transparent url("../images/logo.png") no-repeat left top;
	background-size: cover;
}

#u1031
{
	background-color: #2E2E2E;
}

#u1020_align_to_page,#u1031_align_to_page
{
	position: relative;
}

#u1026
{
	position: relative;
	background: transparent url("../images/lmu.jpg") no-repeat left top;
	background-size: contain;
}

#u1033
{
	position: relative;
	background: transparent url("../images/unima.jpg") no-repeat left top;
	background-size: contain;
}

#u1028
{
	position: relative;
	background: transparent url("../images/asa_datafest-u701-fr.jpg") no-repeat left top;
	background-size: contain;
}

#u1032
{
	position: relative;
	background: transparent url("../images/p3_group.jpg") no-repeat left top;
	background-size: contain;
}

#u1163
{
	position: relative;
	background: transparent url("../images/bosch1.jpg") no-repeat left top;
	background-size: cover;
}

#u1179
{
	position: relative;
	background: transparent url("datafest2019/images/Camelot1.jpg") no-repeat left top;
	background-size: contain;
}

#u1209
{
	position: relative;
	background: transparent url("../images/sovanta_logo_claim_cmyk%20(1).jpg") no-repeat center center;
	background-size: contain;
}

#u1216
{
	position: relative;
	background: transparent url("../images/supercrunch_cmyk_combined_mark.jpg") no-repeat center center;
	background-size: contain;
}

#u1171
{
	position: relative;
	background: transparent url("../images/infas360_logo.png") no-repeat center center;
	background-size: contain;
}

#u1200
{
	position: relative;
	background: transparent url("../images/logo_dc.png") no-repeat center center;
	background-size: contain;
}

#u1201
{
	position: relative;
	background: transparent url("../images/ram%20logo%202.jpg") no-repeat center center;
	background-size: contain;
}

#u1021-23
{
	background-color: transparent;
	line-height: 11px;
	color: #FFFFFF;
	font-size: 9px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
}

#u1023-17
{
	background-color: transparent;
	font-size: 9px;
	line-height: 11px;
	color: #FFFFFF;
	position: relative;
}

#u1024-4,#u1162-4,#u1029-4,#u1025-4
{
	background-color: transparent;
	color: #FFFFFF;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
}

