#u167
{
	background: transparent url("../images/bild11.jpg") no-repeat center top;
	background-size: cover;
}

#u174
{
	background: transparent url("../images/bild12.png") no-repeat left top;
	background-size: cover;
}

#u188-4
{
	background-color: transparent;
	color: #FFFFFF;
	font-size: 22px;
	line-height: 26px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	-webkit-transform: matrix(0.9781,-0.2079,0.2079,0.9781,-5,27);
	-ms-transform: matrix(0.9781,-0.2079,0.2079,0.9781,-5,27);
	transform: matrix(0.9781,-0.2079,0.2079,0.9781,-5,27);
	position: relative;
}

#u189-7
{
	background-color: transparent;
	color: #FFFFFF;
	font-size: 22px;
	line-height: 26px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	-webkit-transform: matrix(0.9781,-0.2079,0.2079,0.9781,-8,27);
	-ms-transform: matrix(0.9781,-0.2079,0.2079,0.9781,-8,27);
	transform: matrix(0.9781,-0.2079,0.2079,0.9781,-8,27);
	position: relative;
}

#u181
{
	-webkit-transform: matrix(0.9962,-0.0872,0.0872,0.9962,-13,21);
	-ms-transform: matrix(0.9962,-0.0872,0.0872,0.9962,-13,21);
	transform: matrix(0.9962,-0.0872,0.0872,0.9962,-13,21);
	position: relative;
	background: transparent url("../images/logo.png") no-repeat left top;
	background-size: cover;
}

#u465,#u463
{
	background-color: #2E2E2E;
}

#u174_align_to_page,#u463_align_to_page
{
	position: relative;
}

#u460-4,#u461-4
{
	background-color: transparent;
	color: #FFFFFF;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
}

