.version.homepage_englisch /* version checker */
{
	color: #0000E1;
	background-color: #11C243;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 1745px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
}

#page_position_content
{
	margin-bottom: -23px;
	padding-top: 22px;
	width: 0.01px;
}

#u490
{
	z-index: 2;
	height: 71px;
}

#u490-bw
{
	position: fixed;
	left: 0px;
	right: 0px;
	z-index: 2;
	top: 0px;
}

#u491
{
	z-index: 3;
	width: 102px;
	top: 0px;
	left: 278px;
}

#u1134
{
	z-index: 160;
	width: 56px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 27px;
	position: relative;
}

#pu1135
{
	z-index: 161;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
}

#u1135
{
	z-index: 0;
	width: 56px;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	border-radius: 10px;
	position: absolute;
	top: 0px;
	bottom: 0px;
	background: transparent url("../../images/german%20flag.jpg") no-repeat center center;
	background-size: cover;
}

#pu1136-4
{
	width: 0.01px;
	position: relative;
	left: 17px;
	padding-top: 5px;
	z-index: 2;
	padding-bottom: 5px;
}

#u1136-4
{
	z-index: 162;
	width: 22px;
	min-height: 13px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
}

#u497-4
{
	z-index: 5;
	width: 149px;
	min-height: 18px;
	top: 26px;
	left: 116px;
}

#u1077-42
{
	z-index: 114;
	width: 358px;
	min-height: 279px;
	background-color: transparent;
	text-align: justify;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-left: 11px;
	margin-top: 39px;
	position: relative;
}

#u1076-4
{
	z-index: 156;
	width: 214px;
	min-height: 23px;
	background-color: transparent;
	margin-left: 11px;
	margin-top: 21px;
	position: relative;
}

#accordionu1078
{
	z-index: 17;
	width: 358px;
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: transparent;
	margin-left: 10px;
	margin-top: 15px;
	position: relative;
}

#u1091
{
	z-index: 18;
	width: 358px;
	background-color: transparent;
	position: relative;
}

#u1092-4
{
	z-index: 19;
	width: 346px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #DEDEDE;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 14px;
	color: #999999;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
}

#u1092-4:hover
{
	background-color: #F2F2F2;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 346px;
	margin: 0px;
}

#u1092-4:active
{
	background-color: #F2F2F2;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 346px;
	margin: 0px;
}

#u1093
{
	z-index: 23;
	width: 356px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	padding-bottom: 17px;
	position: relative;
}

#u1094-18
{
	z-index: 24;
	width: 340px;
	min-height: 359px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #2E2E2E;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 9px;
}

#u1094-2,#u1094-3,#u1094-5,#u1094-6,#u1094-8
{
	text-align: justify;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-style: normal;
}

#u1094-10,#u1094-12,#u1094-14
{
	text-align: justify;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u1094-16
{
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#u1079
{
	z-index: 42;
	width: 358px;
	background-color: transparent;
	position: relative;
}

#u1082-4
{
	z-index: 43;
	width: 346px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #DEDEDE;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 14px;
	color: #999999;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
}

#u1082-4:hover
{
	background-color: #F2F2F2;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 346px;
	margin: 0px;
}

#u1082-4:active
{
	background-color: #F2F2F2;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 346px;
	margin: 0px;
}

#u1092-4.AccordionPanelTabOpen,#u1082-4.AccordionPanelTabOpen
{
	background-color: #FFFFFF;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 346px;
	margin: 0px;
}

#u1082-4.AccordionPanelTabOpen p
{
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u1080
{
	z-index: 47;
	width: 356px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	padding-bottom: 109px;
	position: relative;
}

#u1081-33
{
	z-index: 48;
	width: 340px;
	min-height: 745px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: justify;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 8px;
}

#u1081-2,#u1081-31
{
	line-height: 20px;
	color: #2E2E2E;
}

#u1083
{
	z-index: 81;
	width: 358px;
	background-color: transparent;
	position: relative;
}

#u1086-4
{
	z-index: 82;
	width: 346px;
	min-height: 19px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #DEDEDE;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 14px;
	color: #999999;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
}

#u1086-4:hover
{
	background-color: #F2F2F2;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 19px;
	width: 346px;
	margin: 0px;
}

#u1086-4:active
{
	background-color: #F2F2F2;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 19px;
	width: 346px;
	margin: 0px;
}

#u1084
{
	z-index: 86;
	width: 356px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	padding-bottom: 13px;
	position: relative;
}

#u1085-14
{
	z-index: 87;
	width: 340px;
	min-height: 263px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: justify;
	color: #2E2E2E;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 8px;
}

#u1085-12
{
	line-height: 20px;
}

#u1087
{
	z-index: 101;
	width: 358px;
	background-color: transparent;
	position: relative;
}

#u1088-4
{
	z-index: 102;
	width: 346px;
	min-height: 19px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #DEDEDE;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 14px;
	color: #999999;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
}

#u1088-4:hover
{
	background-color: #F2F2F2;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 19px;
	width: 346px;
	margin: 0px;
}

#u1088-4:active
{
	background-color: #F2F2F2;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 19px;
	width: 346px;
	margin: 0px;
}

#u1086-4.AccordionPanelTabOpen,#u1088-4.AccordionPanelTabOpen
{
	background-color: #FFFFFF;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 19px;
	width: 346px;
	margin: 0px;
}

#u1092-4.AccordionPanelTabOpen p,#u1086-4.AccordionPanelTabOpen p,#u1088-4.AccordionPanelTabOpen p
{
	color: #4F4F4F;
	visibility: inherit;
}

#u1089
{
	z-index: 106;
	width: 356px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	padding-bottom: 11px;
	position: relative;
}

#u1090-7
{
	z-index: 107;
	width: 334px;
	min-height: 304px;
	background-color: transparent;
	text-align: justify;
	color: #2E2E2E;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 13px;
}

.AccordionPanelTab /* accordion */
{
	cursor: pointer;
}

#u1142-15
{
	z-index: 166;
	width: 358px;
	min-height: 92px;
	background-color: transparent;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-left: 11px;
	margin-top: 42px;
	position: relative;
}

#u1077-2,#u1077-3,#u1142-2,#u1142-3
{
	color: #2E2E2E;
	font-style: italic;
}

#u1077-17,#u1077-22,#u1077-30,#u1077-35,#u1077-40,#u1081-3,#u1081-8,#u1081-9,#u1081-12,#u1081-15,#u1081-16,#u1081-21,#u1081-24,#u1081-27,#u1081-29,#u1142-11
{
	color: #FFFFFF;
}

#u1077-5,#u1077-6,#u1077-7,#u1077-10,#u1077-13,#u1077-16,#u1077-18,#u1077-21,#u1077-23,#u1077-25,#u1077-26,#u1077-29,#u1077-31,#u1077-34,#u1077-36,#u1077-39,#u1081-4,#u1081-7,#u1081-11,#u1081-18,#u1081-20,#u1081-23,#u1081-26,#u1081-30,#u1142-4,#u1142-7,#u1142-10,#u1142-13
{
	color: #2E2E2E;
}

#pu580-4
{
	width: 0.01px;
	margin-top: 19px;
}

#u580-4
{
	z-index: 9;
	width: 210px;
	min-height: 21px;
	margin-right: -10000px;
}

#u581-4
{
	z-index: 13;
	width: 124px;
	min-height: 21px;
	margin-right: -10000px;
	left: 256px;
}

body
{
	position: relative;
	min-width: 380px;
	padding-bottom: 23px;
}

#page .verticalspacer
{
	clear: both;
}

