.version.index /* version checker */
{
	color: #0000F7;
	background-color: #E7B088;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 1681px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
}

#page_position_content
{
	margin-bottom: -23px;
	padding-top: 22px;
	width: 0.01px;
}

#u490
{
	z-index: 2;
	height: 71px;
}

#u490-bw
{
	position: fixed;
	left: 0px;
	right: 0px;
	z-index: 2;
	top: 0px;
}

#u491
{
	z-index: 3;
	width: 102px;
	top: 0px;
	left: 278px;
}

#u1137
{
	z-index: 167;
	width: 56px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 28px;
	position: relative;
}

#pu1139
{
	z-index: 168;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
}

#u1139
{
	z-index: 0;
	width: 56px;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	border-radius: 10px;
	position: absolute;
	top: 0px;
	bottom: 0px;
	background: transparent url("../../images/eng.jpg") no-repeat center center;
	background-size: cover;
}

#pu1138-4
{
	width: 0.01px;
	position: relative;
	left: 16px;
	padding-top: 5px;
	z-index: 2;
	padding-bottom: 5px;
}

#u1138-4
{
	z-index: 169;
	width: 24px;
	min-height: 13px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
}

#u497-4
{
	z-index: 5;
	width: 149px;
	min-height: 18px;
	top: 26px;
	left: 116px;
}

#u578-42
{
	z-index: 121;
	width: 358px;
	min-height: 279px;
	background-color: transparent;
	text-align: justify;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-left: 11px;
	margin-top: 39px;
	position: relative;
}

#u579-4
{
	z-index: 163;
	width: 214px;
	min-height: 23px;
	background-color: transparent;
	margin-left: 11px;
	margin-top: 21px;
	position: relative;
}

#accordionu562
{
	z-index: 17;
	width: 358px;
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: transparent;
	margin-left: 10px;
	margin-top: 15px;
	position: relative;
}

#u566
{
	z-index: 18;
	width: 358px;
	background-color: transparent;
	position: relative;
}

#u569-4
{
	z-index: 19;
	width: 346px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #DEDEDE;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 14px;
	color: #999999;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
}

#u569-4:hover
{
	background-color: #F2F2F2;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 346px;
	margin: 0px;
}

#u569-4:active
{
	background-color: #F2F2F2;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 346px;
	margin: 0px;
}

#u567
{
	z-index: 23;
	width: 356px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	padding-bottom: 13px;
	position: relative;
}

#u568-15
{
	z-index: 24;
	width: 340px;
	min-height: 105px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #2E2E2E;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 9px;
}

#u568-2,#u568-3,#u568-5,#u568-7,#u568-9,#u568-11
{
	text-align: justify;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u568-13
{
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#u574
{
	z-index: 39;
	width: 358px;
	background-color: transparent;
	position: relative;
}

#u575-4
{
	z-index: 40;
	width: 346px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #DEDEDE;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 14px;
	color: #999999;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
}

#u575-4:hover
{
	background-color: #F2F2F2;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 346px;
	margin: 0px;
}

#u575-4:active
{
	background-color: #F2F2F2;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 346px;
	margin: 0px;
}

#u569-4.AccordionPanelTabOpen,#u575-4.AccordionPanelTabOpen
{
	background-color: #FFFFFF;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 346px;
	margin: 0px;
}

#u575-4.AccordionPanelTabOpen p
{
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u576
{
	z-index: 44;
	width: 356px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	padding-bottom: 13px;
	position: relative;
}

#u577-43
{
	z-index: 45;
	width: 340px;
	min-height: 852px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #2E2E2E;
	text-align: justify;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 8px;
}

#u577-2,#u577-4,#u577-5,#u577-10,#u577-11,#u577-13,#u577-14,#u577-17,#u577-18,#u577-30,#u577-31,#u577-33,#u577-34,#u577-36,#u577-37,#u577-41
{
	line-height: 20px;
}

#u570
{
	z-index: 88;
	width: 358px;
	background-color: transparent;
	position: relative;
}

#u571-4
{
	z-index: 89;
	width: 346px;
	min-height: 19px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #DEDEDE;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 14px;
	color: #999999;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
}

#u571-4:hover
{
	background-color: #F2F2F2;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 19px;
	width: 346px;
	margin: 0px;
}

#u571-4:active
{
	background-color: #F2F2F2;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 19px;
	width: 346px;
	margin: 0px;
}

#u572
{
	z-index: 93;
	width: 356px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	padding-bottom: 13px;
	position: relative;
}

#u573-14
{
	z-index: 94;
	width: 340px;
	min-height: 263px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #2E2E2E;
	text-align: justify;
	line-height: 20px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 8px;
}

#u863
{
	z-index: 108;
	width: 358px;
	background-color: transparent;
	position: relative;
}

#u864-4
{
	z-index: 109;
	width: 346px;
	min-height: 19px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #DEDEDE;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 14px;
	color: #999999;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
}

#u864-4:hover
{
	background-color: #F2F2F2;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 19px;
	width: 346px;
	margin: 0px;
}

#u864-4:active
{
	background-color: #F2F2F2;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 19px;
	width: 346px;
	margin: 0px;
}

#u571-4.AccordionPanelTabOpen,#u864-4.AccordionPanelTabOpen
{
	background-color: #FFFFFF;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 19px;
	width: 346px;
	margin: 0px;
}

#u569-4.AccordionPanelTabOpen p,#u571-4.AccordionPanelTabOpen p,#u864-4.AccordionPanelTabOpen p
{
	color: #4F4F4F;
	visibility: inherit;
}

#u865
{
	z-index: 113;
	width: 356px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	padding-bottom: 11px;
	position: relative;
}

#u867-7
{
	z-index: 114;
	width: 334px;
	min-height: 304px;
	background-color: transparent;
	text-align: justify;
	color: #2E2E2E;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 13px;
}

.AccordionPanelTab /* accordion */
{
	cursor: pointer;
}

#u1141-15
{
	z-index: 173;
	width: 358px;
	min-height: 92px;
	background-color: transparent;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-left: 11px;
	margin-top: 15px;
	position: relative;
}

#u578-2,#u578-3,#u1141-2,#u1141-3
{
	color: #2E2E2E;
	font-style: italic;
}

#u578-17,#u578-22,#u578-30,#u578-35,#u578-40,#u1141-11
{
	color: #FFFFFF;
}

#u578-5,#u578-6,#u578-7,#u578-10,#u578-13,#u578-16,#u578-18,#u578-21,#u578-23,#u578-25,#u578-26,#u578-29,#u578-31,#u578-34,#u578-36,#u578-39,#u577-39,#u1141-4,#u1141-7,#u1141-10,#u1141-13
{
	color: #2E2E2E;
}

#pu580-4
{
	width: 0.01px;
	margin-top: 3px;
}

#u580-4
{
	z-index: 9;
	width: 210px;
	min-height: 21px;
	margin-right: -10000px;
}

#u581-4
{
	z-index: 13;
	width: 124px;
	min-height: 21px;
	margin-right: -10000px;
	left: 256px;
}

body
{
	position: relative;
	min-width: 380px;
	padding-bottom: 23px;
}

#page .verticalspacer
{
	clear: both;
}

