#u490
{
	background-color: #2E2E2E;
}

#u491
{
	background-color: transparent;
	position: fixed;
}

#u497-4
{
	background-color: transparent;
	color: #FFFFFF;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: fixed;
}

#u580-4
{
	background-color: transparent;
	line-height: 12px;
	font-size: 10px;
	color: #2E2E2E;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
}

#u581-4
{
	background-color: transparent;
	line-height: 13px;
	font-size: 11px;
	color: #2E2E2E;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
}

